@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import 'partials/product-admin';
@import 'partials/category-admin';
@import 'partials/forms';
@import 'partials/home';
@import 'partials/carrousel-products';
@import 'partials/products-home';


* {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}

::-webkit-scrollbar-track { background: transparent; }
    
::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 1px;
    
    &:hover { background-color: rgba(128, 128, 128, 0.2); }
}

.header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(216, 216, 216, 0.67);

    .title {
        font-size: 36px;
        font-weight: 400;
    }

    .action {
        font-size: 14px;
    }
}


.search {
	background: white;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 430px;
	padding: 3px 3px 3px 15px;

	i {
		width: 8%;
	}

	input {
		width: 72%;
		height: 100%;
		border: none;
		outline: none;
	}

	.btn-search {
		width: 20%;
		height: 100%;
		background-color: rgba(0, 26, 141, 0.67);
		color: white !important;
		text-decoration: none;
		border: none;
		outline: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		border-radius: 2px;
		cursor: pointer;

		&:hover {
			background-color: rgba(0, 26, 141, 0.6);
			border: none;
			outline: none;
			color: white;
		}
	}
}


.grid-system {
	display: grid;
	grid-template-columns: 15vw 85vw;
	grid-template-rows: 100vh;
		
	.sidebar {
		display: grid;
		grid-template-rows: 20% 20% 55% 5%;
		background-color: #36384C;
		grid-row-gap: 1px solid black;
		color: white;

		.hamburguer-menu {
			width: 100%;
			background-color: #115396;
			color: white;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 20px;
			color: #FFFF;

			.title {
				font-size: 18px;
				max-width: 60%;
			}

			.subtitle {
				font-weight: 300;
				font-size: 12px;
				max-width: 60%;
			}

			.menu-action {
				width: 10%;
				min-width: 20px;

				button {
					width: 10px;
					height: 10px;
					background: transparent;
					outline: none;
					border: none;
					color: white;
				}

				.icon-menu {
					font-size: 20px;
				}
			}
		}

		.social {
			padding-top: 20px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			.user-image {
				width: 60px;
				height: 60px;
				min-width: 60px;
				min-height: 60px;
				border-radius: 50%;
				background: url(https://www.atomix.com.au/media/2015/06/atomix_user31.png) center center no-repeat;
				background-size: cover;
			}

			.username {
				color: white;
			}
		}

		.nav-left {
			margin-top: 3vh;
			max-height: 210px;
			overflow-y: scroll;
			overflow-x: hidden;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			.item-nav {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				width: 100%;
				height: 35px;
				min-height: 35px;
				text-decoration: none;
				cursor: pointer;

				.item-rectangle {
					width: 4px;
					height: 100%;
					background-color: transparent;
				}

				.item-icon {
					margin-left: 15px;
					color: rgb(179, 179, 179);
					font-size: 14px;
					font-weight: 200;
				}

				.item-name {
					margin-left: 10px;
					color: rgb(179, 179, 179);
					font-size: 14px;
					font-weight: 300;
				}

				&:hover {
					background: rgba(0, 1, 16, 0.67);

					.item-icon {
						color: rgb(255, 255, 255);
					}
		
					.item-name {
						color: rgb(255, 255, 255);
					}

					.item-rectangle {
						width: 6px;
						transition: 300ms;
						background-color: #115396;
					}
				}

				&:active {
					background: rgba(0, 1, 16, 0.67);

					.item-rectangle {
						width: 6px;
						transition: 300ms;
					}
				}
			}
		}

		.sidebar-footer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 10px;
			align-items: center;
			background-color: rgba(0, 1, 16, 0.67);

			.copyright {
				font-size: 10px;
				color: rgba(204, 204, 204, 0.67);
				white-space: nowrap;
			}
			.version {
				font-size: 10px;
				color: rgba(204, 204, 204, 0.67);
				white-space: nowrap;
			}
		}
	}

	.system-container {
		background-color: #EDF4FB;
		display: grid;
		grid-template-rows: 20% 80%;
		grid-template-columns: 1fr;
	}
}

