@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
.header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(216, 216, 216, 0.67);
}
.header .title {
  font-size: 36px;
  font-weight: 400;
}
.header .action {
  font-size: 14px;
}

.products-admin {
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.products-admin .search {
  background: white;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 430px;
  padding: 3px 3px 3px 15px;
}
.products-admin .search i {
  width: 8%;
}
.products-admin .search input {
  width: 72%;
  height: 100%;
  border: none;
  outline: none;
}
.products-admin .search .btn-search {
  width: 20%;
  height: 100%;
  background-color: rgba(0, 26, 141, 0.67);
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
}
.products-admin .search .btn-search:hover {
  background-color: rgba(0, 26, 141, 0.6);
  border: none;
  outline: none;
  color: white;
}
.products-admin .products-wrapper {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: auto;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.products-admin .products-wrapper .product {
  width: 100%;
  height: 320px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40% 9% 9% 9% 9% 9% 15%;
  padding: 0px 15px 15px 15px;
  background-color: rgba(236, 236, 236, 0.67);
}
.products-admin .products-wrapper .product .image {
  background: url("http://www-scf.usc.edu/~yutonggu/img/300X200.gif") center center no-repeat;
  background-size: 100% 100%;
  margin-bottom: 10px;
}
.products-admin .products-wrapper .product .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.products-admin .products-wrapper .product .name span {
  font-weight: 500;
}
.products-admin .products-wrapper .product .description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.products-admin .products-wrapper .product .description span {
  font-weight: 500;
}
.products-admin .products-wrapper .product .price span {
  font-weight: 500;
}
.products-admin .products-wrapper .product .price-discount span {
  font-weight: 500;
}
.products-admin .products-wrapper .product .prateleira span {
  font-weight: 500;
}
.products-admin .products-wrapper .product .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.products-admin .pagination {
  height: 100px;
}

.remove {
  pointer-events: none;
  cursor: default;
  background: #969696 !important;
  border: 1px solid #969696;
}

.min-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.min-container .basic-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  height: 20%;
}
.min-container .form-default {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  height: 80%;
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
}
.min-container .form-default .form-field {
  width: 250px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}
.min-container .form-default .form-field .input-title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}
.min-container .form-default .form-field .input-field {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.min-container .form-default .form-field .input-field .icon {
  width: 15%;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  display: none;
}
.min-container .form-default .form-field .input-field .input {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  border: none;
  outline: none;
  width: 100%;
  padding-left: 15px;
}
.min-container .form-default .form-field .input-field .input [type=placeholder] {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
  padding-left: 15px;
}

* {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.grid-system {
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 100vh;
}
.grid-system .sidebar {
  display: grid;
  grid-template-rows: 20% 20% 55% 5%;
  background-color: #36384C;
  grid-row-gap: 1px solid black;
  color: white;
}
.grid-system .sidebar .hamburguer-menu {
  width: 100%;
  background-color: #115396;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #FFFF;
}
.grid-system .sidebar .hamburguer-menu .title {
  font-size: 18px;
  max-width: 60%;
}
.grid-system .sidebar .hamburguer-menu .subtitle {
  font-weight: 300;
  font-size: 12px;
  max-width: 60%;
}
.grid-system .sidebar .hamburguer-menu .menu-action {
  width: 10%;
  min-width: 20px;
}
.grid-system .sidebar .hamburguer-menu .menu-action button {
  width: 10px;
  height: 10px;
  background: transparent;
  outline: none;
  border: none;
  color: white;
}
.grid-system .sidebar .hamburguer-menu .menu-action .icon-menu {
  font-size: 20px;
}
.grid-system .sidebar .social {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.grid-system .sidebar .social .user-image {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  background: url(https://www.atomix.com.au/media/2015/06/atomix_user31.png) center center no-repeat;
  background-size: cover;
}
.grid-system .sidebar .social .username {
  color: white;
}
.grid-system .sidebar .nav-left {
  margin-top: 3vh;
  max-height: 210px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.grid-system .sidebar .nav-left .item-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 35px;
  min-height: 35px;
  text-decoration: none;
  cursor: pointer;
}
.grid-system .sidebar .nav-left .item-nav .item-rectangle {
  width: 4px;
  height: 100%;
  background-color: transparent;
}
.grid-system .sidebar .nav-left .item-nav .item-icon {
  margin-left: 15px;
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 200;
}
.grid-system .sidebar .nav-left .item-nav .item-name {
  margin-left: 10px;
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 300;
}
.grid-system .sidebar .nav-left .item-nav:hover {
  background: rgba(0, 1, 16, 0.67);
}
.grid-system .sidebar .nav-left .item-nav:hover .item-icon {
  color: white;
}
.grid-system .sidebar .nav-left .item-nav:hover .item-name {
  color: white;
}
.grid-system .sidebar .nav-left .item-nav:hover .item-rectangle {
  width: 6px;
  transition: 300ms;
  background-color: #115396;
}
.grid-system .sidebar .nav-left .item-nav:active {
  background: rgba(0, 1, 16, 0.67);
}
.grid-system .sidebar .nav-left .item-nav:active .item-rectangle {
  width: 6px;
  transition: 300ms;
}
.grid-system .sidebar .sidebar-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: rgba(0, 1, 16, 0.67);
}
.grid-system .sidebar .sidebar-footer .copyright {
  font-size: 10px;
  color: rgba(204, 204, 204, 0.67);
  white-space: nowrap;
}
.grid-system .sidebar .sidebar-footer .version {
  font-size: 10px;
  color: rgba(204, 204, 204, 0.67);
  white-space: nowrap;
}
.grid-system .system-container {
  background-color: #EDF4FB;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 1fr;
}
